@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body { @apply antialiased; }
  ::-webkit-scrollbar { width: 6px; }
  ::-webkit-scrollbar-track { background: transparent; }
  ::-webkit-scrollbar-thumb { background: #4b5563; border-radius: 3px; }
}
